<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinador</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm"></script>
    <script>
        $(function(){
            $.ajax({
                url : '/getPropuesta',
                type: 'GET',
                success: function(res){
                    var div = $('<tr>')
                        .append($('<th>').attr('scope', 'row')
                        .append($('<td>').attr('class',"nombre"),
                            $('<td>').attr('class',"correo"),
                            $('<td>').attr('class',"aceptar")
                        ));
                    var solicitudObj=JSON.parse(res);
                    var solicitud = '';
                    $.each(solicitudObj,function(index,value){
                        solicitud=$(div).clone();
                        $(solicitud).find('th').text(value.Id);
                        $(solicitud).find('td').text(value.Nombre);
                        $(solicitud).find('td').text(value.Correo);
                        $('.table_rows').append(solicitud);
                    });
                },
                error: function(error){
                    console.log(error);
                }
            })
        })
    </script>
</head>
<body>
    <header class="container-fluid bg-primary d-flex justify-content-center">
        <p class="text-light mb-0 p-2 fs-5">Coordinador</p>
    </header>
    <div class="">
        <nav class ="navbar bg-dark ">
            <ul class ="nav navbar-nav">
            <li class ="nav-item">
            <a class ="nav-link" href="#"> Home </a>
            </li>
            <li class ="nav-item">
            <a class ="nav-link" href="#"> Services </a>
            </li>
            <li class ="nav-item">
            <a class ="nav-link" href="#"> Contact </a>
            </li>
            <li class ="nav-item">
            <a class ="nav-link" href="#"> Blogs </a>
            </li>
            </ul>
        </nav>
    </div>
    <div>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Codigo solicitud</th>
                <th scope="col">Nombres  y Apellidos</th>
                <th scope="col">Correo</th>
                <th scope="col">Aceptar</th>
              </tr>
            </thead>
            <tbody class="table_rows">
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
</html>