{% extends "base.html" %}

{% block title %}
    DDDBlog Login.
{% endblock %}

{% block content %}
    <h1>DDDBlog</h1>
    <h2>Login here.</h2>
    <form method="post" action="/validateLogin">
        <table>
            <tr>
                <td><label>Username:</label></td>
                <td><input id="username" name="username" type="text" /></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input id="password" name="password" type="password" /></td>
            </tr>
        </table>
        <input type="submit" value="Log In!" />
    </form>
{% endblock %}
