<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Proyecto Software</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.2.js"></script>
    
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">Ingreso de datos</h3>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Inicio</a></li>
            <li role="presentation"><a href="/showSignin">&nbsp;Iniciar Sesión</a></li>
          </ul>
        </nav>
        
      </div>

      <div class="jumbotron">
        <h1>Completa el siguiente formulario</h1>
        <form class="form-signin" action="/signUp" method="post">
        
        <label for="usuario" class="sr-only">Usuario</label>
        <input type="name" name="usuario" id="usuario" class="form-control" placeholder="Usuario" required autofocus>

        <label for="contrasena" class="sr-only">Contrasena</label>
        <input type="password" name="contrasena" id="Contrasena" class="form-control" placeholder="Contrasena" required autofocus>

        <label for="nombre" class="sr-only">Nombre</label>
        <input type="name" name="nombre" id="nombre" class="form-control" placeholder="Nombre" required autofocus>

        <label for="apellidoPaterno" class="sr-only">Apellido Paterno</label>
        <input type="name" name="apellidoPaterno" id="apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required autofocus>

        <label for="apellidoMaterno" class="sr-only">Apellido Materno</label>
        <input type="name" name="apellidoMaterno" id="apellidoMaterno" class="form-control" placeholder="Apellido Materno" required autofocus>

        <label for="correo" class="sr-only">Correo</label>
        <input type="email" name="correo" id="correo" class="form-control" placeholder="Correo" required autofocus>

        <label for="telefono" class="sr-only">Telefono</label>
        <input type="name" name="telefono" id="telefono" class="form-control" placeholder="Telefono" required autofocus>

        <label for="estudios" class="sr-only">Estudios</label>
        <input type="name" name="estudios" id="estudios" class="form-control" placeholder="Estudios" required>

        <label for="descripcion" class="sr-only">Descripcion</label>
        <input type="name" name="descripcion" id="descripcion" class="form-control" placeholder="Descripcion" required>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
      </form>
      </div>
      <footer class="footer">
        <p>&copy; Ciencia de la Computación - UNSA</p>
      </footer>

    </div>
  </body>
</html>







