<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Proyecto Software</title>
 
    
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="/static/css/signup.css" rel="stylesheet">
    
       
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Proyecto Software</h3>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Inicio</a></li>
            <li role="presentation" ><a href="/showSignUp">&nbsp;Registrarse</a></li>
          </ul>
        </nav>
        
      </div>
 
      <div class="jumbotron">
        <h1>Ingresa tus datos</h1>
        <form class="form-signin" action="/validateLogin" method="post">

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Contraseña" required>
         
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Ciencia de la Computación - UNSA</p>
      </footer>
 
    </div>
  </body>
</html>
